$font-family-base: "Lato", sans-serif;

$celeste-claro: #68a7dd;
$celeste-oscruro: #009cdf;
$negro: #0d0d0d;

$dark: $negro;
$primary: $celeste-claro;
$secondary: $celeste-oscruro;
$navbar-dark-toggler-border-color: #fff;
$mark-bg: rgba(255, 255, 255, 0.571);
