* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

.intro {
  text-align: center;
  opacity: 0;
  animation: aparecer 2s ease forwards 3s;
}

.intro p {
  margin-top: 2rem;
}

section {
  text-align: center;
}

svg {
  max-width: 100%;
}

.whatsapp-logo {
  position: absolute;
  bottom: 5%;
  right: 10%;
  opacity: 0;
  animation: aparecer 2s ease forwards 3.5s;
}

#logo path:nth-child(1) {
  stroke-dasharray: 228.54;
  stroke-dashoffset: 228.54;
  animation: line-anim 2s ease forwards;
}

#logo path:nth-child(2) {
  stroke-dasharray: 159.64;
  stroke-dashoffset: 159.64;
  animation: line-anim 2s ease forwards 0.1s;
}
#logo path:nth-child(3) {
  stroke-dasharray: 136.69;
  stroke-dashoffset: 136.69;
  animation: line-anim 2s ease forwards 0.2s;
}
#logo path:nth-child(4) {
  stroke-dasharray: 171.19;
  stroke-dashoffset: 171.19;
  animation: line-anim 2s ease forwards 0.3s;
}
#logo path:nth-child(5) {
  stroke-dasharray: 241.02;
  stroke-dashoffset: 241.02;
  animation: line-anim 2s ease forwards 0.4s;
}
#logo path:nth-child(6) {
  stroke-dasharray: 89.18;
  stroke-dashoffset: 89.18;
  animation: line-anim 2s ease forwards 0.5s;
}
#logo path:nth-child(7) {
  stroke-dasharray: 198.37;
  stroke-dashoffset: 198.37;
  animation: line-anim 2s ease forwards 0.6s;
}
#logo path:nth-child(8) {
  stroke-dasharray: 310.45;
  stroke-dashoffset: 310.45;
  animation: line-anim 2s ease forwards 0.7s;
}
#logo path:nth-child(9) {
  stroke-dasharray: 163.45;
  stroke-dashoffset: 163.45;
  animation: line-anim 2s ease forwards 0.8s;
}
#logo path:nth-child(10) {
  stroke-dasharray: 238.06;
  stroke-dashoffset: 238.06;
  animation: line-anim 2s ease forwards 0.9s;
}
#logo path:nth-child(11) {
  stroke-dasharray: 213.82;
  stroke-dashoffset: 213.82;
  animation: line-anim 2s ease forwards 1s;
}
#logo path:nth-child(12) {
  stroke-dasharray: 178.28;
  stroke-dashoffset: 178.28;
  animation: line-anim 2s ease forwards 1.1s;
}
#logo path:nth-child(13) {
  stroke-dasharray: 275.62;
  stroke-dashoffset: 275.62;
  animation: line-anim 2s ease forwards 1.2s;
}
#logo path:nth-child(14) {
  stroke-dasharray: 245.86;
  stroke-dashoffset: 245.86;
  animation: line-anim 2s ease forwards 1.3s;
}
#logo path:nth-child(15) {
  stroke-dasharray: 187.35;
  stroke-dashoffset: 187.35;
  animation: line-anim 2s ease forwards 1.4s;
}
#logo path:nth-child(16) {
  stroke-dasharray: 187.35;
  stroke-dashoffset: 187.35;
  animation: line-anim 2s ease forwards 1.5s;
}
#logo path:nth-child(17) {
  stroke-dasharray: 170.85;
  stroke-dashoffset: 170.85;
  animation: line-anim 2s ease forwards 1.6s;
}
#logo path:nth-child(18) {
  stroke-dasharray: 139.39;
  stroke-dashoffset: 139.39;
  animation: line-anim 2s ease forwards 1.7s;
}
#logo path:nth-child(19) {
  stroke-dasharray: 149.48;
  stroke-dashoffset: 149.48;
  animation: line-anim 2s ease forwards 1.8s;
}
#logo path:nth-child(20) {
  stroke-dasharray: 875.53;
  stroke-dashoffset: 875.53;
  animation: line-anim 2s ease forwards 1.9s;
}
#logo path:nth-child(21) {
  stroke-dasharray: 362.34;
  stroke-dashoffset: 362.34;
  animation: line-anim 2s ease forwards 2s;
}

/*Animaciones*/

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes aparecer {
  to {
    opacity: 1;
  }
}

/*MEDIA QUERIES*/
@media (min-width: 768px) {
  .intro {
    text-align: left;
  }
  section {
    text-align: left;
  }
}
